/******* website structure *******/
* {
    margin: 0;
    padding: 0;
}  

body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#top {
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
    padding: 25px;
    /*border: 1px solid red;*/  
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px; /*accessibility*/  
}

/******* end website structure *******/

/******** start navigation bar ********/

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#top ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#top ul li {
    float: left;
}

#top ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#top ul .first a {
    background: none;
}

#top ul a:hover {
    color: #69001d;;
}



body.home #navigation a#home,
body.brasil #navigation a#brasil,
body.international #navigation a#international,
body.economy #navigation a#economy,
body.health #navigation a#health,
body.science #navigation a#science,
body.photos #navigation a#photos {
    color: white;
    background: #de003e;
    cursor: text ;
}

/******** end navigation bar ********/

/******** sets up three column layout ********/

#content {
    background:#f5f5f5;
    margin-top: 60px;
}

#side {
    float: left;
    width: 180px;
    margin: 0 0 20px -750px;
}

#primary {
    float: left;
    width: 270px;
    margin: 0 0 20px 195px;
}

#two-columns #primary {
    width: 555px;
}

#one-column #primary {
    width: 750px;
    margin: 0 0 20px 0;
}

#secondary {
    float: left;
    width: 270px;
    margin: 0 0 20px 15px;
}

/******** box ********/
.box {
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px;
}

h2 {
    background: #294c71;
    color: #fff;
    font-size: 1em;
    padding: 5px;
}

.box-content {
    background: #fff;
    margin-top: 5px;
    padding: 5px;
}

/******** format side menus ********/
#side ul a {
    border-bottom: 1px solid #f3f3f3;
    color: #000;
    display: 3px;;
    font-size: 0.9em;
    line-height: 30px;
    padding: 3px;    
    text-decoration: none;
}

#side ul a:hover {
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    color: #a1a1a1;
    padding-left: 20px;
}

/******** formatting forms ********/
label {
    cursor: pointer;
    display:  block;
}

input {
    background-color: #fff;
    font-size:  0.8em;
    padding: 5px;
    width: 125px;
}

input.submit {
    color:  #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    width: 80px; 

}

/******** formatting images ********/

img.main-image {
    border: 3px solid #dfdfdf;
    width: 98%;

}

/******** formatting headers ********/
h3 {
    display: inline;
    font-size: 0.8em;
    padding: 3px;
    text-transform: uppercase;
}

.topnews h3 {
    color: #fff;
    background: #b10333;
}

.interview h3 {
    color: black;
    background: #b10333;
}

/******** formatting news list ********/

#news-list li {
    border-bottom: 1px solid #ccc;
    height: 65px;;
    padding: 2px;
}

#news-list li a img {
    float: left;
    margin: 5px;
}

#news-list li a {
    text-decoration: none;
}

#news-list li a h3 {
    color: #3e7ab9;
    font-size: 0.7em;
    padding: 0;
}

#news-list li a p {
    font-size: 0.7em;
}

#news-list li:hover {
    cursor: pointer;
    background: #eee;;
}



/******** footer ********/
#footer-container {
   background: #294c71;
   padding: 20px;
}

#footer {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    width: 750px;


}